/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  padding-top: 50px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  padding: 20px 15px 0 15px;
}

/* HEADER START */

#header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  height: 50px;
  background-color: #f72210;
}

img[alt="Newsweek_Logo"] {
  width: 132px;
  height: 20px;
}

button[id*="button"] {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13.7px;
  padding: 2px 3px;
  border: 0;
  font-weight: 900;
}

#sign_in_button {
  color: #fff;
  background-color: #f72210;
}

#subscribe_button {
  color: #f72210;
  background-color: #fff;
}

#menu_header {
  width: 50px;
  height: 50px;
  padding: 13px;
}

.lines_menu_header {
  display: block;
  width: 24px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #fa9a9a;
}

#nav_right_side_items {
  display: inherit;
  align-items: inherit;
}

/* HEADER END */

/* MAIN CONTENT START */

.section_titles {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: 900;
}

.article_image_container {
  position: relative;
}

.top_and_featured_stories_category_container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px 15px;
}

.top_and_featured_stories_category {
  color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 17px;
}

.top_and_featured_stories_tittle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 23px;
  color: black;
  margin: 8px 0;
}

.top_and_featured_stories_description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

img { /* temporal */
  width: 100%;
}

/* TOP STORY SECTION START */

/* TOP STORY SECTION END */

/* OPINION SECTION START */

#opinion_section {
  margin-bottom: 30px;
}

.opinions_content {
  position: relative;
  padding: 10px 0;
  min-height: 83px;
}

img[alt^="opinion_img"] {
  width: 63px;
  height: 63px;
  position: absolute;
  left: 0;
  top: 10;
}

.opinion_text {
  margin-left: 80px;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
}

.personal_opinion {
  font-size: 17px;
  color: black;
  margin-bottom: 2px;
}

.opinion_author {
  color: #555;
  margin-bottom: 0;
}

/* OPINION SECTION END */

/* MAIN CONTENT END */
